<mat-toolbar>
  <div class="toolbar-item logo-container">
    <img src="../assets/logo.png" class="logo" alt="logo">
  </div>
  <div class="toolbar-item brand">
    weShare
  </div>
  <span class="example-spacer"></span>
  <div class="toolbar-item ti-right points">
    <img class="tear-icon" src="../../assets/tear.png" alt="">
    <div *ngIf="user">
      <div class="toolbar-item ti-right">{{user.drops}}</div>
    </div>
  </div>
  <div class="toolbar-item ti-right" (click)="navigateToChallenges()">Challenges</div>
  <div class="toolbar-item ti-right" (click)="navigateToIdeas()">Ideas</div>
  <div class="toolbar-item ti-right" ><mat-icon>logout</mat-icon>Logout</div>
</mat-toolbar>
<div class="container">
  <div class="map">
    <map></map>
  </div>

  <div class="trends">
    <div class="trendingChallenges trend">
      <div class="title">Trending Challenges</div>
      <div *ngFor="let challenge of trendingChallenges">
        <app-trending-card [post]="challenge"></app-trending-card>
      </div>

      <button mat-button class="medium-button">Facing a Challenge?</button>
    </div>

    <div class="trendingIdeas trend">
      <div class="title">Trending Ideas</div>
      <div *ngFor="let idea of trendingIdeas">
        <app-trending-card [post]="idea"></app-trending-card>
      </div>
      <button mat-button class="medium-button">Have an Idea?</button>
    </div>
  </div>
</div>
