<mat-toolbar>
  <div class="toolbar-item logo-container">
    <img src="../assets/logo.png" class="logo" alt="logo">
  </div>
  <div class="toolbar-item brand">
    weShare
  </div>
  <span class="example-spacer"></span>
  <div class="toolbar-item ti-right points">
    <img class="tear-icon" src="../../assets/tear.png" alt="">
    <div class="toolbar-item ti-right">100</div>
  </div>
  <div class="toolbar-item ti-right" >Challenges</div>
  <div class="toolbar-item ti-right" >Ideas</div>
  <div class="toolbar-item ti-right" ><mat-icon>logout</mat-icon>Logout</div>
</mat-toolbar>
<div class="container">
  <div class="map">
    <map></map>
  </div>
</div>
