<mat-toolbar>
  <div class="toolbar-item logo-container">
    <img src="../assets/logo.png" class="logo" alt="logo">
  </div>
  <div class="toolbar-item brand" (click)="navigateToHome()">
    momentum.io
  </div>
  <span class="example-spacer"></span>
  <div class="toolbar-item ti-right points">
    <img class="tear-icon" src="../../assets/tear.png" alt="">
    <div *ngIf="user">
      <div class="toolbar-item ti-right">{{user.drops}}</div>
    </div>
  </div>
  <div class="toolbar-item ti-right" (click)="navigateToChallenges()">{{'NAVBAR.CHALLENGES' | transloco}}</div>
  <div class="toolbar-item ti-right" (click)="navigateToIdeas()">{{'NAVBAR.IDEAS' | transloco}}</div>
  <div class="toolbar-item ti-right" (click)="logout()"><mat-icon>logout</mat-icon>{{'NAVBAR.LOGOUT' | transloco}}</div>

  <div class="toolbar-item translate ti-right" (click)="toggleLanguage()">{{currentLanguage}}</div>
</mat-toolbar>
<div class="container">
  <div class="map">
    <map></map>
  </div>

  <div class="trends">
    <div class="trendingChallenges trend">
      <div class="title">{{'CHALLENGES_ON_THE_RISE' | transloco}}</div>
      <div *ngFor="let challenge of trendingChallenges">
        <app-trending-card [post]="challenge"></app-trending-card>
      </div>

      <button mat-button class="medium-button" (click)="navigateToChallenges()">{{'FACING_A_CHALLENGE' | transloco}}</button>
    </div>

    <div class="trendingIdeas trend">
      <div class="title">{{'TRENDING_IDEAS' | transloco}}</div>
      <div *ngFor="let idea of trendingIdeas">
        <app-trending-card [post]="idea"></app-trending-card>
      </div>
      <button mat-button class="medium-button" (click)="navigateToIdeas()">{{'HAVE_AN_IDEA' | transloco}}</button>
    </div>
  </div>
</div>
