<mat-card *ngIf="post">
  <div class="username">~{{ username }}</div>
  <div class="image">
    <img [attr.src]="'../../assets/images/' + post.imageurl" alt="post_image" />
  </div>
  <div class="title">{{post.title}}</div>
  <div class="description">{{ post.description }}</div>

  <div class="tag-points">
    <div class="tags">{{ post.tags }}</div>

    <div class="points">
      <img src="../../assets/zapp.png" alt="" class="zapp" />
      <div>{{ post.votes }}</div>
    </div>
  </div>

  <div class="collab">
    <button mat-button class="medium-button btn-collab" (click)="collab()">Collaborate</button>
    <button mat-button class="medium-button btn-vote" [ngClass]="{'voted' : voted}" (click)="upvote(post.id)"><img src="../../assets/zapp.png" alt="" class="zapp" /></button>
  </div>
</mat-card>
