<mat-toolbar>
  <div class="toolbar-item logo-container">
    <img src="../assets/logo.png" class="logo" alt="logo">
  </div>
  <div class="toolbar-item brand" (click)="navigateToHome()">
    momentum.io
  </div>
  <span class="example-spacer"></span>
  <div class="toolbar-item ti-right points">
    <img class="tear-icon" src="../../assets/tear.png" alt="">
    <div *ngIf="user">
      <div class="toolbar-item ti-right">{{user.drops}}</div>
    </div>
  </div>
  <div class="toolbar-item ti-right" [ngClass]="{'highlight' : isChallenge}" (click)="navigateToChallenges()" >{{'NAVBAR.CHALLENGES' | transloco}}</div>
  <div class="toolbar-item ti-right" [ngClass]="{'highlight' : !isChallenge}"  (click)="navigateToIdeas()">{{'NAVBAR.IDEAS' | transloco}}</div>
  <div class="toolbar-item ti-right" (click)="logout()"><mat-icon>logout</mat-icon>{{'NAVBAR.LOGOUT' | transloco}}</div>

  <div class="toolbar-item translate ti-right" (click)="toggleLanguage()">{{currentLanguage}}</div>
</mat-toolbar>

<div class="container">

  <div class="make-post">
    <div class="title">{{'MAKE_A_POST' | transloco}}</div>
    <div class="post-card">
      <app-post-card [user]="user" [isChallenge]="isChallenge" [trending]="trending"></app-post-card>
    </div>
  </div>
  <div class="trends">
    <div class="title" *ngIf="isChallenge">{{'CHALLENGES_ON_THE_RISE' | transloco}}</div>
    <div class="title" *ngIf="!isChallenge">{{'TRENDING_IDEAS' | transloco}}</div>

    <div class="trending">
      <div class="trending-post" *ngFor="let post of trending">
        <app-trending-post [post]="post"></app-trending-post>
      </div>
    </div>
  </div>
</div>
